body {
  display: flex;
}
.card {
  width: 28%;
  height: 700px;
  background-color: rgb(183, 186, 189);
  border: 2px solid black;
  margin: 5px;
}

.main {
  width: 68%;
  height: 700px;
  border: 2px solid black;
  margin: 5px;
}
